{% extends "base.html" %}
{% block head %}

{% load crispy_forms_tags %}
{% endblock head %}
{% block title %}
    Stok Ekle
{% endblock title %}
{% block body %}
    
        <div class = "container">
            <div class = "row">
                {% include "urun/leftnav.html" %}
                <div class = "col-md-8">
                    <form method="POST" enctype = "multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <input class = "btn btn-primary" type ="submit" value = {{value}} >
                    </form>
                </div>
            </div>
        </div>
    
{% endblock body %}